@import 'mixins';
@import 'forms';

.best_in_place, .insurance_in_place_edit {
	input, textarea, select {
		@include blue_input;
	}
	input[type="text"] {
		width: 80px;
	}
}

.fb {
	.best_in_place, .insurance_in_place_edit {
		font-weight: bold;
	}
}

::-moz-focus-inner {
	border: 0;
}