@import 'mixins';

@mixin blue_input {
	border: none;
	background: $default_link;
	color: #FFF;
	@include shadow;
	@include rad5;
	@include default_font;
	font-size: 12px;
	option {
		background: $default_link;
	}
	&:focus {
		outline-style: none;
	}
}

input, textarea, select {
	@include p5;
}

.blue_input {
	@include blue_input;
}

.btn {
	@include blue_input;
	@include p(5px);
	@include fb;
	@include cp;
	@include custom_shadow(0px 3px 2px #999);
	&:active {
		@include mt(1px);
		@include custom_shadow(0px 2px 2px #999);
	}
}


#plan_type {
	width: 240px;
}